**/sketchpaper.ipynb
Untitled.ipynb
*/Untitled.ipynb
*/*/Untitled.ipynb
*/*/*/Untitled.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
**/wandb
*.out
*.err
*.wav
*.tar
**/__pycache__
**/*targets*.km
**/mt_test
**/nodelist.$
*.pt
**/.DS_Store
**/models
*.zip
**/kan-bayashi
**/outputs
