sketchpaper.ipynb
*/sketchpaper.ipynb
*/*/sketchpaper.ipynb
*/*/*/sketchpaper.ipynb
Untitled.ipynb
*/Untitled.ipynb
*/*/Untitled.ipynb
*/*/*/Untitled.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
wandb
*/wandb
*/*/wandb
*/*/*/wandb
*.out
*.err
